<a href="https://colab.research.google.com/github/rajanpandi/Red_bus_selenium_streamlit/blob/main/project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from glob import glob
import pandas as pd

In [4]:
customer=pd.read_csv("/content/drive/MyDrive/project_2_file/2_Customers_2.csv",encoding='ISO-8859-1')
customer

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965
...,...,...,...,...,...,...,...,...,...,...
15261,2099600,Female,Denisa Duková,Houston,TX,Texas,77017,United States,North America,3/25/1936
15262,2099618,Male,Justin Solórzano,Mclean,VA,Virginia,22101,United States,North America,2/16/1992
15263,2099758,Male,Svend Petrussen,Wilmington,NC,North Carolina,28405,United States,North America,11/9/1937
15264,2099862,Female,Lorenza Rush,Riverside,CA,California,92501,United States,North America,10/12/1937
15265,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965

In [5]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [6]:
customer.isnull().sum()

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [7]:
customer.fillna("NUL",inplace=True)

In [8]:
customer.isnull().sum()

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [9]:
customer.duplicated().sum()

0

In [10]:
customer.to_csv(r"/content/customer_after cleaning.csv")

In [12]:
df1_customer=pd.read_csv("/content/customer_after cleaning.csv")

In [14]:
df2_sales=pd.read_csv("/content/sales_after cleaning.csv")

In [15]:
merged_data_customer_sales=pd.merge(df1_customer,df2_sales,on="CustomerKey")
merged_data_customer_sales.head()

,Unnamed: 0_x,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,Unnamed: 0_y,Order Number,Line Item,Order Date,StoreKey,ProductKey,Quantity,Currency Code
0,0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939,46415,1776007,1,2019-11-11,0,53,2,AUD
1,1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,15386,1109001,1,2018-01-13,6,443,4,AUD
2,1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,15387,1109001,2,2018-01-13,6,656,4,AUD
3,1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,15388,1109001,3,2018-01-13,6,1084,3,AUD
4,1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,46739,1781006,1,2019-11-16,6,418,3,AUD

In [16]:
merged_data_customer_sales.drop(["Unnamed: 0_x", "Unnamed: 0_y"], axis=1, inplace=True)

In [17]:
merged_data_customer_sales

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,Order Number,Line Item,Order Date,StoreKey,ProductKey,Quantity,Currency Code
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939,1776007,1,2019-11-11,0,53,2,AUD
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,1109001,1,2018-01-13,6,443,4,AUD
2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,1109001,2,2018-01-13,6,656,4,AUD
3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,1109001,3,2018-01-13,6,1084,3,AUD
4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,1781006,1,2019-11-16,6,418,3,AUD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965,1269016,2,2018-06-22,56,425,5,USD
62880,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965,1269016,3,2018-06-22,56,344,7,USD
62881,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965,1269016,4,2018-06-22,56,1162,1,USD
62882,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965,1872055,1,2020-02-15,53,434,10,USD
62883,2099937,Male,Zygmunt Kaminski,Bloomfield Township,MI,Michigan,48302,United States,North America,8/18/1965,1872055,2,2020-02-15,53,1721,3,USD

In [18]:
merged_data_customer_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerKey    62884 non-null  int64
 1   Gender         62884 non-null  object
 2   Name           62884 non-null  object
 3   City           62884 non-null  object
 4   State Code     62884 non-null  object
 5   State          62884 non-null  object
 6   Zip Code       62884 non-null  object
 7   Country        62884 non-null  object
 8   Continent      62884 non-null  object
 9   Birthday       62884 non-null  object
 10  Order Number   62884 non-null  int64
 11  Line Item      62884 non-null  int64
 12  Order Date     62884 non-null  object
 13  StoreKey       62884 non-null  int64
 14  ProductKey     62884 non-null  int64
 15  Quantity       62884 non-null  int64
 16  Currency Code  62884 non-null  object
dtypes: int64(6), object(11)
memory usage: 8.2+ MB

In [19]:
merged_data_customer_sales.isnull().sum()

CustomerKey      0
Gender           0
Name             0
City             0
State Code       0
State            0
Zip Code         0
Country          0
Continent        0
Birthday         0
Order Number     0
Line Item        0
Order Date       0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [20]:
merged_data_customer_sales.duplicated().sum()

0

In [21]:
merged_data_customer_sales.groupby("ProductKey")["ProductKey"].value_counts()

ProductKey
1       23
2       23
3       27
4       27
5       17
        ..
2513    51
2514    67
2515    56
2516    43
2517    49
Name: count, Length: 2492, dtype: int64

In [22]:
merged_data_customer_sales.to_csv(r"/content/merged_data_customer_sales.csv")

In [24]:
product=pd.read_csv("/content/drive/MyDrive/project_2_file/3_Products_3.csv")
product

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

In [25]:
product["ProductKey"].value_counts()

ProductKey
1       1
1683    1
1676    1
1677    1
1678    1
       ..
840     1
841     1
842     1
843     1
2517    1
Name: count, Length: 2517, dtype: int64

In [26]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [27]:
product.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [28]:
product.duplicated().sum()

0

In [29]:
merged_data_customer_sales_product=pd.merge(merged_data_customer_sales,product,on="ProductKey")
merged_data_customer_sales_product

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,...,Currency Code,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939,...,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,$98.07,$296.00,104,Recording Pen,1,Audio
1,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,4/6/1939,...,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,$98.07,$296.00,104,Recording Pen,1,Audio
2,37991,Male,Cooper Gillison,CARWELL,NSW,New South Wales,2849,Australia,Australia,1/6/1937,...,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,$98.07,$296.00,104,Recording Pen,1,Audio
3,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,7/22/1989,...,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,$98.07,$296.00,104,Recording Pen,1,Audio
4,51314,Female,Bianca Stobie,DUVERNEY,VIC,Victoria,3323,Australia,Australia,6/23/1954,...,AUD,WWI 4GB Video Recording Pen X200 Black,Wide World Importers,Black,$98.07,$296.00,104,Recording Pen,1,Audio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,1950637,Male,Roger Pon,Santa Clara,CA,California,95054,United States,North America,12/21/1986,...,USD,"Litware 16"" White Oscillating Stand Fan E701 W...",Litware,White,$14.83,$29.09,808,Fans,8,Home Appliances
62880,1976355,Male,Joel Mullaly,Boston,MA,Massachusetts,2210,United States,North America,3/3/1990,...,USD,Litware 80mm LED Dual PCI Slot Fan E1501 Yellow,Litware,Yellow,$15.80,$30.99,808,Fans,8,Home Appliances
62881,2039796,Male,Cupido Portillo,Pittsburgh,PA,Pennsylvania,15219,United States,North America,8/14/1949,...,USD,Contoso Home Theater System 4.1 Channel M1400 ...,Contoso,Silver,$208.52,$409.00,203,Home Theater System,2,TV and Video
62882,2040156,Male,Patrick Fabro,Wilkes Barre,PA,Pennsylvania,18701,United States,North America,11/28/1987,...,USD,WWI Wall Lamp E315 Grey,Wide World Importers,Grey,$52.00,$101.99,806,Lamps,8,Home Appliances
62883,2087477,Female,Klaudia Ebersbach,Idaho Falls,ID,Idaho,83402,United States,North America,11/26/1995,...,USD,Proseware Floor Lamp X0115 Blue,Proseware,Blue,$210.72,$635.99,806,Lamps,8,Home Appliances

In [30]:
merged_data_customer_sales_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     62884 non-null  int64
 1   Gender          62884 non-null  object
 2   Name            62884 non-null  object
 3   City            62884 non-null  object
 4   State Code      62884 non-null  object
 5   State           62884 non-null  object
 6   Zip Code        62884 non-null  object
 7   Country         62884 non-null  object
 8   Continent       62884 non-null  object
 9   Birthday        62884 non-null  object
 10  Order Number    62884 non-null  int64
 11  Line Item       62884 non-null  int64
 12  Order Date      62884 non-null  object
 13  StoreKey        62884 non-null  int64
 14  ProductKey      62884 non-null  int64
 15  Quantity        62884 non-null  int64
 16  Currency Code   62884 non-null  object
 17  Product Name    62884 non-null  object
 18  Brand           62884 non-null  object
 19  Color           62884 non-null  object
 20  Unit Cost USD   62884 non-null  object
 21  Unit Price USD  62884 non-null  object
 22  SubcategoryKey  62884 non-null  int64
 23  Subcategory     62884 non-null  object
 24  CategoryKey     62884 non-null  int64
 25  Category        62884 non-null  object
dtypes: int64(8), object(18)
memory usage: 12.5+ MB

In [31]:
merged_data_customer_sales_product.isnull().sum()

CustomerKey       0
Gender            0
Name              0
City              0
State Code        0
State             0
Zip Code          0
Country           0
Continent         0
Birthday          0
Order Number      0
Line Item         0
Order Date        0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [32]:
merged_data_customer_sales_product.duplicated().sum()

0

In [33]:
merged_data_customer_sales_product.to_csv(r"/content/merged_data_customer_sales_product.csv")

In [34]:
store=pd.read_csv("/content/drive/MyDrive/project_2_file/5_Stores_5.csv")
store

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
...,...,...,...,...,...
62,63,United States,Utah,2000.0,3/6/2008
63,64,United States,Washington DC,1330.0,1/1/2010
64,65,United States,West Virginia,1785.0,1/1/2012
65,66,United States,Wyoming,840.0,1/1/2014
66,0,Online,Online,NaN,1/1/2010

In [35]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [36]:
store.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [37]:
store.dropna(inplace=True)

In [38]:
store.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [39]:
merged_data_customer_sales_product_store=pd.merge(merged_data_customer_sales_product,store,on="StoreKey")
merged_data_customer_sales_product_store.head(5)

,CustomerKey,Gender,Name,City,State Code,State_x,Zip Code,Country_x,Continent,Birthday,...,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date
0,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,4/6/1939,...,$98.07,$296.00,104,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010
1,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,7/22/1989,...,$98.07,$296.00,104,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010
2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$160.49,$349.00,303,Desktops,3,Computers,Australia,Western Australia,2000.0,1/1/2010
3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$72.66,$158.00,306,"Printers, Scanners & Fax",3,Computers,Australia,Western Australia,2000.0,1/1/2010
4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$214.03,$646.00,402,Digital SLR Cameras,4,Cameras and camcorders,Australia,Western Australia,2000.0,1/1/2010

In [40]:
merged_data_customer_sales_product_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     49719 non-null  int64
 1   Gender          49719 non-null  object
 2   Name            49719 non-null  object
 3   City            49719 non-null  object
 4   State Code      49719 non-null  object
 5   State_x         49719 non-null  object
 6   Zip Code        49719 non-null  object
 7   Country_x       49719 non-null  object
 8   Continent       49719 non-null  object
 9   Birthday        49719 non-null  object
 10  Order Number    49719 non-null  int64
 11  Line Item       49719 non-null  int64
 12  Order Date      49719 non-null  object
 13  StoreKey        49719 non-null  int64
 14  ProductKey      49719 non-null  int64
 15  Quantity        49719 non-null  int64
 16  Currency Code   49719 non-null  object
 17  Product Name    49719 non-null  object
 18  Brand           49719 non-null  object
 19  Color           49719 non-null  object
 20  Unit Cost USD   49719 non-null  object
 21  Unit Price USD  49719 non-null  object
 22  SubcategoryKey  49719 non-null  int64
 23  Subcategory     49719 non-null  object
 24  CategoryKey     49719 non-null  int64
 25  Category        49719 non-null  object
 26  Country_y       49719 non-null  object
 27  State_y         49719 non-null  object
 28  Square Meters   49719 non-null  float64
 29  Open Date       49719 non-null  object
dtypes: float64(1), int64(8), object(21)
memory usage: 11.4+ MB

In [41]:
merged_data_customer_sales_product_store=merged_data_customer_sales_product_store.rename(columns={
    'State_x': 'customer_state',
    'Country_x': 'customer_country',
    'Country_y': 'store_country',
    'State_y': 'store_state'})
merged_data_customer_sales_product_store.head(5)

,CustomerKey,Gender,Name,City,State Code,customer_state,Zip Code,customer_country,Continent,Birthday,...,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,store_country,store_state,Square Meters,Open Date
0,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,4/6/1939,...,$98.07,$296.00,104,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010
1,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,7/22/1989,...,$98.07,$296.00,104,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010
2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$160.49,$349.00,303,Desktops,3,Computers,Australia,Western Australia,2000.0,1/1/2010
3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$72.66,$158.00,306,"Printers, Scanners & Fax",3,Computers,Australia,Western Australia,2000.0,1/1/2010
4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,$214.03,$646.00,402,Digital SLR Cameras,4,Cameras and camcorders,Australia,Western Australia,2000.0,1/1/2010

In [42]:
merged_data_customer_sales_product_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerKey       49719 non-null  int64
 1   Gender            49719 non-null  object
 2   Name              49719 non-null  object
 3   City              49719 non-null  object
 4   State Code        49719 non-null  object
 5   customer_state    49719 non-null  object
 6   Zip Code          49719 non-null  object
 7   customer_country  49719 non-null  object
 8   Continent         49719 non-null  object
 9   Birthday          49719 non-null  object
 10  Order Number      49719 non-null  int64
 11  Line Item         49719 non-null  int64
 12  Order Date        49719 non-null  object
 13  StoreKey          49719 non-null  int64
 14  ProductKey        49719 non-null  int64
 15  Quantity          49719 non-null  int64
 16  Currency Code     49719 non-null  object
 17  Product Name      49719 non-null  object
 18  Brand             49719 non-null  object
 19  Color             49719 non-null  object
 20  Unit Cost USD     49719 non-null  object
 21  Unit Price USD    49719 non-null  object
 22  SubcategoryKey    49719 non-null  int64
 23  Subcategory       49719 non-null  object
 24  CategoryKey       49719 non-null  int64
 25  Category          49719 non-null  object
 26  store_country     49719 non-null  object
 27  store_state       49719 non-null  object
 28  Square Meters     49719 non-null  float64
 29  Open Date         49719 non-null  object
dtypes: float64(1), int64(8), object(21)
memory usage: 11.4+ MB

In [43]:
merged_data_customer_sales_product_store.isnull().sum()

CustomerKey         0
Gender              0
Name                0
City                0
State Code          0
customer_state      0
Zip Code            0
customer_country    0
Continent           0
Birthday            0
Order Number        0
Line Item           0
Order Date          0
StoreKey            0
ProductKey          0
Quantity            0
Currency Code       0
Product Name        0
Brand               0
Color               0
Unit Cost USD       0
Unit Price USD      0
SubcategoryKey      0
Subcategory         0
CategoryKey         0
Category            0
store_country       0
store_state         0
Square Meters       0
Open Date           0
dtype: int64

In [44]:
merged_data_customer_sales_product_store.duplicated().sum()

0

In [45]:
merged_data_customer_sales_product_store.to_csv(r"/content/merged_data_customer_sales_product_store.csv")

In [46]:
exchange=pd.read_csv("/content/drive/MyDrive/project_2_file/4_Exchange_Rates4.csv")
exchange

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [47]:
exchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [48]:
exchange.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [49]:
exchange.duplicated().sum()

0

In [50]:
# Concatenate side by side (along columns)
joined_data = pd.concat([merged_data_customer_sales_product_store, exchange], axis=1)

# Display the first 5 rows to verify
joined_data

,CustomerKey,Gender,Name,City,State Code,customer_state,Zip Code,customer_country,Continent,Birthday,...,Subcategory,CategoryKey,Category,store_country,store_state,Square Meters,Open Date,Date,Currency,Exchange
0,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,4/6/1939,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,USD,1.0000
1,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,7/22/1989,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,CAD,1.1583
2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,Desktops,3,Computers,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,AUD,1.2214
3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,"Printers, Scanners & Fax",3,Computers,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,EUR,0.8237
4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,GBP,0.6415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49714,105647,Female,Anna Komine,REDWOOD,QLD,Queensland,4350,Australia,Australia,8/5/1970,...,Cameras & Camcorders Accessories,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49715,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,8/8/1976,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49716,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,8/8/1976,...,Digital Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49717,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,8/19/1987,...,MP4&MP3,1,Audio,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49718,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,8/19/1987,...,Laptops,3,Computers,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN

In [51]:
joined_data.isnull().sum()

CustomerKey             0
Gender                  0
Name                    0
City                    0
State Code              0
customer_state          0
Zip Code                0
customer_country        0
Continent               0
Birthday                0
Order Number            0
Line Item               0
Order Date              0
StoreKey                0
ProductKey              0
Quantity                0
Currency Code           0
Product Name            0
Brand                   0
Color                   0
Unit Cost USD           0
Unit Price USD          0
SubcategoryKey          0
Subcategory             0
CategoryKey             0
Category                0
store_country           0
store_state             0
Square Meters           0
Open Date               0
Date                38504
Currency            38504
Exchange            38504
dtype: int64

In [52]:
joined_data.duplicated().sum()

0

In [53]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerKey       49719 non-null  int64
 1   Gender            49719 non-null  object
 2   Name              49719 non-null  object
 3   City              49719 non-null  object
 4   State Code        49719 non-null  object
 5   customer_state    49719 non-null  object
 6   Zip Code          49719 non-null  object
 7   customer_country  49719 non-null  object
 8   Continent         49719 non-null  object
 9   Birthday          49719 non-null  object
 10  Order Number      49719 non-null  int64
 11  Line Item         49719 non-null  int64
 12  Order Date        49719 non-null  object
 13  StoreKey          49719 non-null  int64
 14  ProductKey        49719 non-null  int64
 15  Quantity          49719 non-null  int64
 16  Currency Code     49719 non-null  object
 17  Product Name      49719 non-null  object
 18  Brand             49719 non-null  object
 19  Color             49719 non-null  object
 20  Unit Cost USD     49719 non-null  object
 21  Unit Price USD    49719 non-null  object
 22  SubcategoryKey    49719 non-null  int64
 23  Subcategory       49719 non-null  object
 24  CategoryKey       49719 non-null  int64
 25  Category          49719 non-null  object
 26  store_country     49719 non-null  object
 27  store_state       49719 non-null  object
 28  Square Meters     49719 non-null  float64
 29  Open Date         49719 non-null  object
 30  Date              11215 non-null  object
 31  Currency          11215 non-null  object
 32  Exchange          11215 non-null  float64
dtypes: float64(2), int64(8), object(23)
memory usage: 12.5+ MB

In [54]:
joined_data.to_csv(r"/content/joined_data.csv")

In [55]:
import pandas as pd

In [58]:
df=pd.read_csv("/content/joined_data.csv")
df

<ipython-input-58-6f0420bec292>:1: DtypeWarning: Columns (7,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/joined_data.csv")

,Unnamed: 0,CustomerKey,Gender,Name,City,State Code,customer_state,Zip Code,customer_country,Continent,...,Subcategory,CategoryKey,Category,store_country,store_state,Square Meters,Open Date,Date,Currency,Exchange
0,0,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,USD,1.0000
1,1,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,CAD,1.1583
2,2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,...,Desktops,3,Computers,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,AUD,1.2214
3,3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,...,"Printers, Scanners & Fax",3,Computers,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,EUR,0.8237
4,4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Western Australia,2000.0,1/1/2010,1/1/2015,GBP,0.6415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49714,49714,105647,Female,Anna Komine,REDWOOD,QLD,Queensland,4350,Australia,Australia,...,Cameras & Camcorders Accessories,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49715,49715,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49716,49716,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,...,Digital Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49717,49717,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,...,MP4&MP3,1,Audio,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN
49718,49718,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,...,Laptops,3,Computers,Australia,Northern Territory,665.0,1/12/2008,NaN,NaN,NaN

In [59]:
df.isnull().sum()

Unnamed: 0              0
CustomerKey             0
Gender                  0
Name                    0
City                    0
State Code              0
customer_state          0
Zip Code                0
customer_country        0
Continent               0
Birthday                0
Order Number            0
Line Item               0
Order Date              0
StoreKey                0
ProductKey              0
Quantity                0
Currency Code           0
Product Name            0
Brand                   0
Color                   0
Unit Cost USD           0
Unit Price USD          0
SubcategoryKey          0
Subcategory             0
CategoryKey             0
Category                0
store_country           0
store_state             0
Square Meters           0
Open Date               0
Date                38504
Currency            38504
Exchange            38504
dtype: int64

In [60]:
df.duplicated().sum()

0

In [61]:
df.loc[:,["Date","Currency","Exchange"]]

           Date Currency  Exchange
0      1/1/2015      USD    1.0000
1      1/1/2015      CAD    1.1583
2      1/1/2015      AUD    1.2214
3      1/1/2015      EUR    0.8237
4      1/1/2015      GBP    0.6415
...         ...      ...       ...
49714       NaN      NaN       NaN
49715       NaN      NaN       NaN
49716       NaN      NaN       NaN
49717       NaN      NaN       NaN
49718       NaN      NaN       NaN

[49719 rows x 3 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49719 entries, 0 to 49718
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        49719 non-null  int64
 1   CustomerKey       49719 non-null  int64
 2   Gender            49719 non-null  object
 3   Name              49719 non-null  object
 4   City              49719 non-null  object
 5   State Code        49719 non-null  object
 6   customer_state    49719 non-null  object
 7   Zip Code          49719 non-null  object
 8   customer_country  49719 non-null  object
 9   Continent         49719 non-null  object
 10  Birthday          49719 non-null  object
 11  Order Number      49719 non-null  int64
 12  Line Item         49719 non-null  int64
 13  Order Date        49719 non-null  object
 14  StoreKey          49719 non-null  int64
 15  ProductKey        49719 non-null  int64
 16  Quantity          49719 non-null  int64
 17  Currency Code     49719 non-null  object
 18  Product Name      49719 non-null  object
 19  Brand             49719 non-null  object
 20  Color             49719 non-null  object
 21  Unit Cost USD     49719 non-null  object
 22  Unit Price USD    49719 non-null  object
 23  SubcategoryKey    49719 non-null  int64
 24  Subcategory       49719 non-null  object
 25  CategoryKey       49719 non-null  int64
 26  Category          49719 non-null  object
 27  store_country     49719 non-null  object
 28  store_state       49719 non-null  object
 29  Square Meters     49719 non-null  float64
 30  Open Date         49719 non-null  object
 31  Date              11215 non-null  object
 32  Currency          11215 non-null  object
 33  Exchange          11215 non-null  float64
dtypes: float64(2), int64(9), object(23)
memory usage: 12.9+ MB

In [63]:
columns_to_convert = ["Birthday", "Open Date", "Date"]
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_datetime)

In [64]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [65]:
column=df.columns
column

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'customer_state',
       'Zip Code', 'customer_country', 'Continent', 'Birthday', 'Order Number',
       'Line Item', 'Order Date', 'StoreKey', 'ProductKey', 'Quantity',
       'Currency Code', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category', 'store_country', 'store_state', 'Square Meters',
       'Open Date', 'Date', 'Currency', 'Exchange'],
      dtype='object')

In [66]:
df

,CustomerKey,Gender,Name,City,State Code,customer_state,Zip Code,customer_country,Continent,Birthday,...,Subcategory,CategoryKey,Category,store_country,store_state,Square Meters,Open Date,Date,Currency,Exchange
0,19082,Male,Matthew Denman,RANSOME,QLD,Queensland,4154,Australia,Australia,1939-04-06,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,2010-01-01,2015-01-01,USD,1.0000
1,48733,Female,Sophia Gunther,BALCOLYN,NSW,New South Wales,2264,Australia,Australia,1989-07-22,...,Recording Pen,1,Audio,Australia,Western Australia,2000.0,2010-01-01,2015-01-01,CAD,1.1583
2,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27,...,Desktops,3,Computers,Australia,Western Australia,2000.0,2010-01-01,2015-01-01,AUD,1.2214
3,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27,...,"Printers, Scanners & Fax",3,Computers,Australia,Western Australia,2000.0,2010-01-01,2015-01-01,EUR,0.8237
4,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Western Australia,2000.0,2010-01-01,2015-01-01,GBP,0.6415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49714,105647,Female,Anna Komine,REDWOOD,QLD,Queensland,4350,Australia,Australia,1970-08-05,...,Cameras & Camcorders Accessories,4,Cameras and camcorders,Australia,Northern Territory,665.0,2008-01-12,NaT,NaN,NaN
49715,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,1976-08-08,...,Digital SLR Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,2008-01-12,NaT,NaN,NaN
49716,129318,Female,Victoria Courtney,PINE VALLEY,NSW,New South Wales,2630,Australia,Australia,1976-08-08,...,Digital Cameras,4,Cameras and camcorders,Australia,Northern Territory,665.0,2008-01-12,NaT,NaN,NaN
49717,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,1987-08-19,...,MP4&MP3,1,Audio,Australia,Northern Territory,665.0,2008-01-12,NaT,NaN,NaN
49718,129494,Female,Amber Parry,Greenwood,QLD,Queensland,4401,Australia,Australia,1987-08-19,...,Laptops,3,Computers,Australia,Northern Territory,665.0,2008-01-12,NaT,NaN,NaN

In [67]:
df.to_csv(r"/content/join_data_after_cleaning.csv")

In [68]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 64.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [ ]:
#import pandas as pd
#from sqlalchemy import create_engine

# Read CSV file with dtype handling
#df = pd.read_csv('/content/join_data_after_cleaning.csv', low_memory=False)

# Define MySQL connection parameters
#user = 'root'
#password = 'Chahit@04'
#host = 'DESKTOP-MRJESOM'
#port = '3306'
#database = 'project'

# Create engine
#engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

# Write DataFrame to MySQL
#df.to_sql('your_table_name', con=engine, if_exists='replace', index=False)

In [69]:
import mysql.connector
server=mysql.connector.connect(host='db.c92ayia40zri.ap-south-1.rds.amazonaws.com',user='admin',password='Chahitrajan')
server
raj=server.cursor()
raj.execute('show databases')
for i in raj:
    print(i)

('aws',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [70]:
import sqlalchemy

In [ ]:
engine1=sqlalchemy.create_engine("mysql+mysqlconnector://admin:Chahitrajan@db.c92ayia40zri.ap-south-1.rds.amazonaws.com:3306/aws")

In [ ]:
df.to_sql('join_all_data',engine1)

49719